<h2 mat-dialog-title>Create New Thread</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Content</mat-label>
      <textarea matInput rows="4" formControlName="content"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Create</button>
</mat-dialog-actions>
